* {
  font-family: 'Noticia Text', serif;
}

.header {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #28283b;
  color: #dd9292;
  box-shadow: -.5px 1px 20px 0px rgba(0,0,0,0.50);
  letter-spacing: .1rem;
}

h1 {
  margin: 0;
}

.movieList {
  margin-top: 50px;
}